<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Listing &amp; Directory Website Template</title>
    <!-- Bootstrap CSS -->
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <script src="/assets/jquery.raty.js"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">

</head>
<div class="bobo">
<div class="modal" id="myModaltw">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Health Beauty & Babycare</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
         <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Makeup
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb1">Lips</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb2">Face</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb3">Nails</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb4">Kits</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb5">Tools</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skin
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb6">Facewash</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb7">Toner</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb8">Cleaner</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb9">Sunscream</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb10">Bleach</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb11">Body Oil</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb12">Scrubs</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb13">HandWash</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb14">Hair Remover</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hair
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb15">Shampoo</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb16">Conditioner</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb17">Serum</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb18">Gels</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb19">Sprey</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb20">Colour</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb21">Brushes</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb22">Dryer</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb23">Straightner Roller</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shaving
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb24">Razors</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb25">Shavers</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb26">Cream</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb27">Brushes</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb28">Pre & Post</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb29">Moustach Care</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb30">Men's Creame</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fragnence
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb31">Deodrents</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb32">Body Mist</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb33">Perfume</a>
        </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Baby Care
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb34">Baby Food</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb35">Boys Cloth</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb36">Girls Cloth</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb37">Baby Shoes</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb38">Boys Soap</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb39">Baby Oil</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb40">Baby Cream</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb41">Boys Gear</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb42">Diapers</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb43">School Kits</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb44">Lunch Box</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb45">Water Bottle</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb46">School Bags</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb47">Toys</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb48">Birthday Gifts</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb49">Bed Protectors</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb50">Potty Chairs</a>
        </div>
          </li>






          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Health Care
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb51">Oral Care</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb52">Suppliments</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb53">Sanitary Pads</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb54">Weight Management</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb55">Sexual Wellness</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb56">Stimulants</a>
        </div>
          </li>













          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sports
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb57">Fitness Equipments</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb58">Running</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb59">Swimming</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb60">Yoga</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb61">Cycling</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb62">Tennis</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb63">Badminton</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb64">Squash</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb65">Table Tennis</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb66">Cricket Football</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb67">Volley Ball</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb68">Basket Ball</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/hbb69">Hockey</a>
        </div>
          </li>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>

































  <div class="modal" id="myModalth">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Furniture & Homecare</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Room
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh1">Sofa</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh2">Plastic Chair</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh3">Wooden Chair</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh4">Folding Chair</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh5">Stools</a>


              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh6">Coffee Table</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh7">Dining Table</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh8">Study Table</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh9">Office Table</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh10">Side Table</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh11">Dressing Table</a>



              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh12">Queen Size Bed</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh13">King Size Bed</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh14">Single Bed</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh15">Almirah</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh16">Storage Cabinet</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh17">Selves</a>


              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh18">Bean Bag</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh19">Shoe Rack</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bedding
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh20">Matress Singel</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh21">Matress Double</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh22">Matress Protecter</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh23">Bedsheet</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh24">Bed Cover</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh25">Blanket</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh26">Pillow</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh27">Chushion</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home Decor
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh28">Pooja Special</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh29">Window Curtain</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh30">Door Curtain</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh31">Door Mat</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh32">Towel</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh33">Idols</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh34">Painting</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh35">Photo Frame</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh36">Vases</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh37">Planrs</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh38">Flower Posts</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kitchen
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh39">Cooker</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh40">Kadhai</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh41">Gas Stove</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh42">Tawa</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh43">Roti Maker</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh44">Cooking Tools</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh45">Frying Pan</a>

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh46">Containers</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh47">Casseroies</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh48">Kitchen Organiser</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh49">Chopping Board</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh50">Apron</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh51">Gloves</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh52">Table Mats</a>

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh53">Scrubber</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh54">Mobs</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh55">Dustbin</a>
        </div>
          </li>



<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Homecare
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh56">Cleaning Tools</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh57">Detergents</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh58">Disposables</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh59">Bathroom Cleaners</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh60">Toilet Cleaners</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh61">Freshners</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh62">Shoecare</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh63">Home Cleaning</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fh64">Domestic Help</a>
        </div>
          </li>

          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>









































   <div class="modal" id="myModalfo">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Fashion</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's Clothing
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa1">Saree</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa2">Kurta/Kurti</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa3">Salwar Suit</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa4">Blouse</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa5">Shirt</a>


              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa6">Top</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa7">Dupatta</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa8">Leggings</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa9">Jeans</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa10">Trousers</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa11">Joggers</a>



              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa12">Caps</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa13">Shorts</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa14">Lingerie</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Men's Clothing
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa15">Shirt</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa16">T-Shirt</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa17">Sweatshirt</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa18">Coat</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa19">Blazer</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa20">Tie</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa21">Jeans</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa22">Trouser</a>


              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa23">Jogger</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa24">Loungwear</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa25">Short</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa26">Underwear</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa27">Socks</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bags
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa28">Handbag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa29">Shoulderbag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa30">Travel Bag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa31">Tote Bag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa32">Sling Bag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa33">Shipping Bag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa34">Messenger Bag</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa35">Clutches</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa36">Wallet</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa37">Pouches</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Watches
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa38">Womens</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa39">Mens</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa40">Sport</a>
        </div>
          </li>
          <li><a href="/welcome/fa41" style="color: #000;">Eye Glass</a></li>
          <li><a href="/welcome/fa42" style="color: #000;">Sunglasses</a></li>
          <li><a href="/welcome/fa43" style="color: #000;">Caps</a></li>

<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's Footwear
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa44">Heals</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa45">Sandels</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa46">FlipFLops</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa47">Slippers</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa48">Sposts Shoes</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa49">Mojaris</a>

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa50">Flats</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa51">Wedgs</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa52">Boots</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa53">Socks</a>
        </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mean's Footwear
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa54">Casuals</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa55">Sandels</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa56">FlipFLops</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa57">Slippers</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa58">Sposts Shoes</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa59">Formals</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/fa60">Socks</a>
        </div>
          </li>



          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>


































   <div class="modal" id="myModalfi">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Grocery & Veg</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grocery
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv1">Milk</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv2">Beverages</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv3">Rice</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv4">Atta</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv5">Oil</a>


              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv6">Dal</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv7">Salt</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv8">Suger</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv9">Masala</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv10">Noodels</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv11">Snacks</a>



              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv12">Biscuits</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv13">Dry Fruits</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv14">Pickels</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv15">Dairy</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv16">Stationary</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Veg
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv17">Potato</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv18">Onion</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv19">Tomato</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv20">Ginger</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv21">Garlic</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv22">Cardimom</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv23">Leafy Veg</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv24">Root Veg</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv25">All Vegetables</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Non Veg
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv26">Eggs</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv27">Fish</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv28">Chicken</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv29">Mutton</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fruits
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv30">Banana</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv31">Orange</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv32">Apple</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv33">Grapes</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv34">Pomegranate</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv35">Water Melons</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv36">Mango</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv37">Naspati</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv38">Papaya</a>

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv39">Avacado</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv40">Coconut</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv41">Dates</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/gv42">JackFruit</a>
        </div>
          </li>          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>




























  <div class="modal" id="myModalsi">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Electronics Appliences</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electronics
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea1">All Electronic Items</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea2">AC</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea19">Mobile</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea20">Computer</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea3">Fridge</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea4">Washing Machine</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea5">Microwave</a>


              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea6">TV</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea7">Camera</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea8">Speaker</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea9">Headphone</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea10">Home Theater</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea11">Portable Audio</a>



              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea12">Heating/ Cooling</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea13">Light</a>
              <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea14">Fan</a>
             
            </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accessories
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #ffffff;">

          <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea15">Cases & Covers</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea16">Power Banks</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea17">Screen Guards</a>
          <a class="dropdown-item" style="color:  #000080;" href="/welcome/ea18">Headphones</a>
        </div>
          </li>   
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>





















  <div class="modal" id="myModalse">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Your Location</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="overflow-y:visible;">
          <% if current_or_guest_user.search_area? %>
          <h5><b>Your Current Location:</b></h5>
                              <form class="form-wrap mt-4">
                                  
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                      <div class="select-wapper">
                                        <%= select_tag :state, options_for_select([["Select a state",""]] + State.all.map { |c| [c.name, c.id] },selected: current_or_guest_user.search_state ), id: "state"%>
                                        </div>
                                        <div class="select-wapper">
                                        <%= select_tag :city, options_for_select([["Select a City",""]] + City.all.map { |c| [c.name, c.id] }, selected: current_or_guest_user.search_city), :id => 'city' %>
                                        </div>
                                        <div class="select-wapper">
                                        <%= select_tag :area, options_for_select([["Select a Area",""]] + Area.all.map { |c| [c.name, c.id] }, selected: current_or_guest_user.search_area), :id => 'area' %>
                                        </div>
                                        
                                      
                                        
                                        <a href="/welcome/search" class="btn-form search-btn">Submit<i class="pe-7s-angle-right"></i></a>
                                        
                                    </div>
                  </form>
                  
<script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
        var selectedCity;
        $("select#state").change(function() {
          var id_value_string = $(this).val();
          if (id_value_string == "") {
           $("select#city option").remove();
           var row = "<option value=\"" + "" + "\">" + "city" + "</option>";
           $(row).appendTo("select#city");
          } else {
           // Send the request and update city dropdown
            getCitiesOfState(id_value_string)
           
          }
        });
        $(".search-btn").on("click", function(e){
          e.preventDefault()
          var $this = $(this);
          var $href = $this.attr("href");
          var state = $("#state").val()
          var city = $("#city").val()
          var search = $("#search").val()
          window.location = $href + '?search=' + search+ "&state=" +state+ "&city="+ city
        })
        function getCitiesOfState(val){
        $.ajax({
          dataType: "json",
          cache: false,
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: '/get_cities_by_state',
          type: 'post',
          data: {"state" : val},
          timeout: 5000,
          error: function(XMLHttpRequest, errorTextStatus, error) {
           alert("Failed to submit : " + errorTextStatus + " ;" + error);
          },
          success: function(data) {
           // Clear all options from city select
           $("select#city option").remove();
           //put in a empty default line
           // Fill city select

           var row = "<option value=\"" + "" + "\">" + "Select a city" + "</option>";
           $(row).appendTo("select#city");
           $.each(data, function(i, j) {
            if(j.id == selectedCity){
              row = "<option value=\"" + j.id + "\" selected>" + j.name + "</option>";
            }else{
              row = "<option value=\"" + j.id + "\">" + j.name + "</option>"; 
            }
            $(row).appendTo("select#city");
           });
          }
         });
        }
        var selectedArea;
        $("select#city").change(function() {
          var city_id = $(this).val();
          if (city_id == "") {
           $("select#area option").remove();
           var row = "<option value=\"" + "" + "\">" + "city" + "</option>";
           $(row).appendTo("select#area");
          } else {
           // Send the request and update city dropdown
            getAreasOfCity(city_id)
           
          }
        });
        $(".search-btn").on("click", function(e){
          e.preventDefault()
          var $this = $(this);
          var $href = $this.attr("href");
          var state = $("#state").val();
          var city = $("#city").val();
          var area = $("#area").val();
          var search = $("#search").val()
          window.location = $href + '?search=' + search+ "&state=" +state+ "&city="+ city+ "&area=" +area
        })
        function getAreasOfCity(val){
        $.ajax({
          dataType: "json",
          cache: false,
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: '/get_areas_by_city',
          type: 'post',
          data: {"city" : val},
          timeout: 5000,
          error: function(XMLHttpRequest, errorTextStatus, error) {
           alert("Failed to submit : " + errorTextStatus + " ;" + error);
          },
          success: function(data) {
           // Clear all options from city select
           $("select#area option").remove();
           //put in a empty default line
           // Fill city select

           var row = "<option value=\"" + "" + "\">" + "Select a area" + "</option>";
           $(row).appendTo("select#area");
           $.each(data, function(i, j) {
            if(j.id == selectedArea){
              row = "<option value=\"" + j.id + "\" selected>" + j.name + "</option>";
            }else{
              row = "<option value=\"" + j.id + "\">" + j.name + "</option>"; 
            }
            $(row).appendTo("select#area");
           });
          }
         });
        }
    </script>


                  <% else %>
                  <a href="/welcome/home" class="btn-form">Add Location Now<i class="pe-7s-angle-right"></i></a>
                  <% end %>
                  </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

</div>








