<br>
<br>

<% if params[:search].blank? %>
   
<div class="jumbotron">
  <h1>Wolla!</h1>
  <p>Your Location has been added and set to default to change it please click on the location icon.</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></p>
</div>
<% else %>
<br>
<br>
<td>
        <a href="/welcome/filter_search?category=&price=0 - 1000" class="btn-form search-btn">Try Advance Search<i class="pe-7s-angle-right"></i></a>
      </td>
<div class="container" style=" text-align:center; padding-top: 100px">
  <div class="center" style="text-align:center;">
  <h1>Your Search</h1>
</div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3" >
       <img src="<%= product.image %>" style="height:100px; width:100px;" alt="Park">
       <figcaption><b><%= product.name %></b><figcaption>
       <figcaption><%= product.description %><figcaption>
        <%= link_to "View Product", product, class: "add-to-cart btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<style>
.add-to-cart {
  background: #ff9f1a;

  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover {
    background: #b36800;
    color: #fff; }
</style>
